@page "/tags"

@using Jarvis.Clients
@using Jarvis.Components.Pages.Shared
@using Jarvis.Models.Tags
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

@inject ITagsClient _tagsClient
@inject NavigationManager _navManager

<ConfigurationHeader Title="Tags" />

@foreach (var tag in _tags)
{
    <div class="d-flex justify-content-between">
        <Tag TagModel=tag />
        <FluentIcon OnClick=@(() => NavigateToEditTag(tag.Id)) Value="@(new Icons.Regular.Size20.EditSettings())"></FluentIcon>
    </div>
    <hr />
}

<div style="position:fixed; bottom:25px; right: 25px;">
    <FluentButton OnClick=@(NavigateToCreateTag) Class="rounded-circle" Color=@(Color.Success.ToAttributeValue())>
        <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Add())" />
    </FluentButton>
</div>


@code {
    private List<TagModel> _tags = [];

    protected override async Task OnInitializedAsync()
    {
        _tags = await _tagsClient.GetAsync();

    }

    private void NavigateToEditTag(long tagId)
    {
        _navManager.NavigateTo($"/tags/{tagId}");
    }

    private void NavigateToCreateTag()
    {
        _navManager.NavigateTo("/tags/create");
    }
}
