@using Microsoft.FluentUI.AspNetCore.Components.Extensions


<div class="mt-4">
    <FluentButton Class="d-grid d-block" BackgroundColor="var(--success)" Color="white" Type="ButtonType.Submit">Salvar</FluentButton>
</div>

@code {

}
