@using Jarvis.Models.Tags

@if (TagModel is not null)
{    
    var backgroundColor = $"background-color: {TagModel.Color};";
    <span class="badge" style="@(backgroundColor)">@TagModel.Title</span>
}

@code {
    [Parameter, EditorRequired]
    public TagModel TagModel { get; set; }
}
