@using Jarvis.Models.Tasks
<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <input type="checkbox" @bind=@_isDone />
            <h5 class="ms-2">@Task.Title</h5>
        </div>

        @if(Task.Subtasks.Count > 0)
        {            
            <div>
                @(Task.Subtasks.Count(s => s.Completed))/@(Task.Subtasks.Count) concluídas
            </div>
        }

        <div class="d-flex gap-1">
            @foreach (var tag in Task.Tags)
            {
                <Tag TagModel=tag />
            }
        </div>

        @if(ChildContent != null)
        {
            <div>
                @ChildContent
            </div>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public TaskModel Task { get; set; } = null!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private bool _isDone;

    protected override void OnInitialized()
    {
        _isDone = Task.IsDone;
    }
}
