@using Jarvis.Clients
@using Jarvis.Models.Tasks

@inject IJarvisApiClient _apiClient

<div class="card-body">    
    <h5 class="@(Task.Completed ? "text-decoration-line-through" : "")">@Task.Title</h5>        
        
    @if (Task.SubtaskCount > 0)
    {
        <div>
            @(Task.CompletedCount)/@(Task.SubtaskCount) concluídas
        </div>
    }

    <div class="d-flex gap-1">
        @foreach (var tag in Task.Tags)
        {
            <Tag TagModel=tag />
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public TaskModel Task { get; set; } = null!;
}
