
<button @onclick=@(Clicked) class="btn btn-success">
    <img src="images/whatsapp.png" width="25" height="25" />
    @Text
</button>

@code {
    [Parameter]
    public EventCallback Clicked { get; set; }

    [Parameter]
    public string Text { get; set; } = "Integrar com WhatsApp";
}
