@page "/tasks/create"
@using Jarvis.Clients
@using Jarvis.Components.Pages.Shared
@using Jarvis.Models.Shared
@using Jarvis.Models.Tags
@using Jarvis.Models.Tasks
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

@inject IJarvisApiClient _apiClient
@inject IToastService _toastService


<style>
    .badge-add {
        cursor: pointer;
    }
</style>

<ConfigurationHeader Title="Criar Tarefa" />

<FluentEditForm Model="_create" OnValidSubmit=SubmitAsync>
    <div class="d-flex flex-column gap-3">
        <FluentTextField @bind-Value=_create.Title Label="Título" />
        <FluentCheckbox @bind-Value=_create.IsEvent Label="Isso é um evento" />

        <div class="d-flex">
            <div class="d-flex flex-column">
                <FluentDatePicker @bind-Value=_create.Date Label="Data" />
            </div>

            @if (_create.IsEvent)
            {            
                <div class="d-flex flex-column">
                    <FluentTimePicker @bind-Value=_create.Date Label="Hora" />
                </div>
            }
        </div>

        @if (_create.IsEvent)
        {        
            <FluentCheckbox @bind-Value=_create.Recurring Label="Recorrente" />

            @if (_create.Recurring)
            {
                <FluentSelect TOption="Recurrency"
                              OptionText="@(opt => opt.ToString())"
                              @bind-SelectedOption=@_create.Recurrence
                              Items=@(Enum.GetValues<Recurrency>().ToList())>
                </FluentSelect>
            }
        }

        <PrioritySelectInput @bind-Value=@_create.Priority />
        
        <TagInput Added=TagAdded Removed=TagRemoved />
    </div>
       
    <SubmitButton />
</FluentEditForm>

@code {
    private CreateTaskModel _create = new();

    private async Task SubmitAsync()
    {
        await _apiClient.Tasks.CreateAsync(_create);
        _toastService.ShowSuccess("Sua tarefa foi criada com sucesso!");
    }

    private void TagAdded(TagModel tag)
    {
        _create.Tags.Add(tag.Id);
    }

    private void TagRemoved(TagModel tag)
    {
        _create.Tags.Remove(tag.Id);
    }
}
