@using Jarvis.Components.Pages.Shared
@using Jarvis.Models.Shared
@using Jarvis.Models.Tags
@using Jarvis.Models.Tasks

<FluentTextField @bind-Value=Task.Title Label="Título" />
<FluentCheckbox @bind-Value=Task.IsEvent Label="Isso é um evento" />

<div class="d-flex">
    <div class="d-flex flex-column">
        <FluentDatePicker @bind-Value=Task.Date Label="Data" />
    </div>

    @if (Task.IsEvent)
    {
        <div class="d-flex flex-column">
            <FluentTimePicker @bind-Value=Task.Date Label="Hora" />
        </div>
    }
</div>

@if (Task.IsEvent)
{
    <FluentCheckbox @bind-Value=Task.IsRecurrent Label="Recorrente" />

    @if (Task.IsRecurrent)
    {
        <FluentSelect TOption="Recurrency"
                      OptionText="@(opt => opt.ToString())"
                      @bind-SelectedOption=@Task.Recurrent
                      Items=@(Enum.GetValues<Recurrency>().ToList())>
        </FluentSelect>
    }
}
<FluentSelect Label="Prioridade"
              OptionText="@(opt => opt.ToString())"
              @bind-SelectedOption=@Task.Priority
              Items=@(Enum.GetValues<Priority>().ToList())>
</FluentSelect>

<TagInput Added=TagAdded CurrentTags=@(Task.Tags) Removed=TagRemoved />

@code {
    [Parameter, EditorRequired]
    public UpdateTaskModel Task { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<TagModel> TagRemoved { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<TagModel> TagAdded { get; set; }
}
