@using Jarvis.Models.Substasks
@using Jarvis.Models.Tasks

<div class="d-flex flex-column gap-3">

    <FluentTextArea Label="Descrição" @bind-Value=@Task.Description />


    <FluentLabel>Subtarefas</FluentLabel>

    @foreach (var subTask in Task.Subtasks)
    {
        <FluentCheckbox @bind-Value=@(subTask.Completed) Label=@(subTask.Title) />
    }

    @if (_addingSubTask)
    {
        <div class="d-flex gap-3">
            <input type="text" class="form-control w-75" @bind=_newSubTask />
            <FluentIcon OnClick=AddSubtask Value="new Icons.Regular.Size20.Checkmark()" />
        </div>
    }
    else
    {
        <div style="cursor:pointer;" @onclick=ToggleAddingSubTask>
            <FluentIcon Value="new Icons.Regular.Size20.Add()" /> <span>Adicionar</span>
        </div>
    }

</div>

@code {
    [Parameter, EditorRequired]
    public UpdateTaskModel Task { get; set; }

    private bool _addingSubTask = false;

    private string? _newSubTask;

    private void ToggleAddingSubTask()
    {
        _addingSubTask = !_addingSubTask;
    }

    private void AddSubtask()
    {
        if (string.IsNullOrEmpty(_newSubTask))
            return;

        Task.Subtasks.Add(new() { Title = _newSubTask });

        ToggleAddingSubTask();

        _newSubTask = null;
    }
}
