@using Microsoft.FluentUI.AspNetCore.Components

@inherits LayoutComponentBase

<div class="page">
    <div>
        <div>
            <FluentHeader>
                Jarvis
            </FluentHeader>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
