@using Jarvis.Clients
@using Jarvis.Components.Pages.Shared
@using Jarvis.Models.Tasks
@using Jarvis.Models.User
@using Jarvis.Models.WinTheDays
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

@inject IJarvisApiClient _apiClient
@inject NavigationManager _navManager

@if (_loading || _winTheDay is null)
{
    <FluentProgress></FluentProgress>
}
else
{
    var winTheDayTaskIds = _winTheDay.Tasks.Select(t => t.Id);

    <div class="d-flex flex-column gap-3">

        <MetaProgress Model=_winTheDay Date=_date Tasks="@_tasks" />

        <DayPicker @bind-Date=_date @bind-Date:after=ReloadTasksAsync />

        <span>Agenda ⏰</span>

        @foreach (var task in _tasks.Where(t => !winTheDayTaskIds.Contains(t.Id)))
        {
            <div style="cursor:pointer;" @onclick=@(() => RedirectToEditTask(task))>
                <TaskCardReadonly Task=task />
            </div>
        }

        <hr />

        <span>Hoje 🗓️</span>

        <div class="d-flex flex-column gap-2">
            @foreach (var task in _tasks.Where(t => winTheDayTaskIds.Contains(t.Id)))
            {
                <div style="cursor:pointer;" @onclick=@(() => RedirectToEditTask(task))>
                    <TaskCard Task=task TaskUpdated=TaskUpdatedAsync />
                </div>
            }
        </div>

        <div style="position:fixed; bottom:25px; right: 25px;">
            <FluentButton OnClick=@(RedirectToCreateTask) Class="rounded-circle" Color=@Color.Success.ToAttributeValue()>
                <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20.Add())" />
            </FluentButton>
        </div>
    </div>
}


@code {
    [Parameter, EditorRequired]
    public UserModel User { get; set; } = null!;

    private List<TaskModel> _tasks = [];

    private WinTheDayModel? _winTheDay;

    private DateTime _date = DateTime.Now;

    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        if (User is null)
            return;

        _winTheDay = await _apiClient.WinTheDay.GetAsync();

        await ReloadTasksAsync();

        _loading = false;
    }

    private async Task TaskUpdatedAsync(long taskId)
    {
        var task = _tasks.FirstOrDefault(t => t.Id == taskId);

        if (task is not null)
        {
            task.Completed = !task.Completed;
        }

        _winTheDay = await _apiClient.WinTheDay.GetAsync();

        if(_winTheDay.Completed == _winTheDay.TotalGoal)
        {
            _navManager.NavigateTo("/day-won");
        }
    }

    private async Task ReloadTasksAsync()
    {
        _tasks = await _apiClient.Tasks.GetAsync(_date);
    }

    private void RedirectToCreateTask()
    {
        _navManager.NavigateTo("/tasks/create");
    }

    private void RedirectToEditTask(TaskModel task)
    {
        _navManager.NavigateTo($"/tasks/{task.Id}");
    }
}
