@using Jarvis.Clients
@using Jarvis.Components.Pages.Shared
@using Jarvis.Models.Tasks
@using Jarvis.Models.User
@using Jarvis.Models.WinTheDays
@using Jarvis.Utils
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

@inject IJarvisApiClient _apiClient

<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <span>Ganhe o dia 🎯</span>
                <small>@(_model.Completed)/@(_model.TotalGoal) concluídas</small>
            </div>
            <FluentProgressRing Max="100" Min="0" Value="@_percentage"
                                Stroke=@ProgressStroke.Small
                                Color="@(Color.Success.ToAttributeValue())">
                <ChildContent>
                    @(_percentage)%
                </ChildContent>

            </FluentProgressRing>
        </div>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public List<TaskModel> Tasks { get; set; } = [];

    private int _percentage;

    private WinTheDayModel _model = new();

    protected override async Task OnInitializedAsync()
    {
        _model = await _apiClient.WinTheDay.GetAsync();
        _percentage = (int)MathUtils.GetPercentage(_model.Completed, _model.TotalGoal);
    }
}
