@using Jarvis.Clients
@using Jarvis.Models.Tasks
@using Jarvis.Models.User
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

<div class="card mt-4">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <span>Ganhe o dia 🎯</span>
                <small>@(_completedToday)/@(_totalToday) concluídas</small>
            </div>

            <FluentProgressRing Max="100" Min="0" Value="@_percentage"
                                Stroke=@ProgressStroke.Small
                                Color="@(Color.Success.ToAttributeValue())">
                <ChildContent>
                    @(_percentage)%
                </ChildContent>

            </FluentProgressRing>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public List<TaskModel> Tasks { get; set; } = [];

    private int _totalToday;
    private int _completedToday;
    private int _percentage;

    protected override void OnInitialized()
    {
        _totalToday = Tasks.Count;
        _completedToday = Tasks.Count(t => t.IsDone);

        if (_totalToday == 0)
            _percentage = 100;
        else
            _percentage = _completedToday * 100 / _totalToday;

    }
}
